{{!-- list restaurants on ./view/index.handlebars --}}

<style>
  @import url('/css/index.css');
</style>

{{!-- search bar --}}
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <a href="/shop/new" class="mb-2 btn text-white bg-info">Create restaurant</a>
      <form action="/search">
        <div class="input-group">
          <input type="text" name="keyword" id="" class="form-control" placeholder="Search restaurant name or category"
            aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- restaurant list --}}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        {{!-- go to detail page by get --}}
        <a href="/restaurant/{{this.id}}" class="text-secondary">
          <div class="card mb-3 bg-light">
            <img src="{{this.image}}" alt="{{this.name}}" class="card-img-top">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>
                {{this.category}}
              </div>
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
            <div class="card-footer text-right">
              <form action="/restaurant/{{this.id}}/delete" method="post">
                <tr>
                  <td><a href="/restaurant/{{this.id}}/edit" class="btn btn-primary">Edit</a></td>
                  <td><a href="/restaurant/{{this.id}}" class="btn btn-primary">Detail</a></td>
                  <td>
                    <button type="submit" class=" text-white btn-dark">Delete</button>
                  </td>
                </tr>
              </form>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>